html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

td {
  /* display: flex; */
  background-color: rgb(174, 174, 174);
  text-align: center;
  width: 20vw;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.actions-index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8vh;
}

.actions-index > form > button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.delete-but {
  color: red;
}

.edit-but {
  color: blue;
}

.not-com {
  border-left: 8px solid red;
}

.com {
  border-left: 8px solid green;
}

td:hover {
  background-color: aqua;
}

.loginform {
  background: #ffffff;
  width: 450px;
  color: #4caf50;
  left: 50%;
  margin-top: 15%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 29px 0px #e0e0e0;
}
.loginform h2 {
  font-size: 30px;
  margin: 30px 0px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}
.loginform input {
  width: 100%;
  margin-bottom: 30px;
}
.loginform input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #1e5220;
  background: transparent;
  outline: none;
  height: 40px;
  color: #333;
  font-size: 16px;
}
.loginform input[type="submit"] {
  background: #4caf50;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
  border: none;
  margin-bottom: 5px;
}
.loginform input[type="submit"]:hover {
  cursor: pointer;
  background: #1f5822;
}
.loginform a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #1e5220;
}
.loginform .have-not {
  float: right;
}
.loginform a:hover {
  color: #4caf50;
}

@media (max-width: 576px) {
  .loginform {
    width: 90%;
  }
  .loginform a {
    display: block;
    text-align: center;
    float: inherit !important;
    margin: 10px 0px;
  }
}
