html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

td {
  /* display: flex; */
  /* background-color: rgb(174, 174, 174); */
  background-color: rgb(225, 225, 225);
  text-align: center;
  width: 17vw;
  height: 8vh;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.actions-index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8vh;
}

.actions-index > form > button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.delete-but {
  color: red;
}

.edit-but {
  color: blue;
}

.not-com {
  border-left: 8px solid red;
}

.com {
  border-left: 8px solid green;
}

.td-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.p-description {
  line-break: auto;
  word-break: break-all;
}

.p-wrapper {
  position: absolute;
  text-align: left;
  width: 19vw;
  margin-top: 16vh;
  line-break: auto;
  backdrop-filter: blur(20px);
  border-radius: 4px;
  padding: 3px;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

tr:hover .p-wrapper {
  visibility: visible;
  opacity: 1;
}

.description-title {
  font-size: smaller;
  font-weight: 600;
}

.checkbox-form {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.checkbox-form > input {
  position: absolute;
  width: 100%;
  height: 8vh;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.click-top-change-text {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
  left: 0;
  bottom: 0;
}

.loginform {
  background: #ffffff;
  width: 450px;
  color: #4caf50;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 29px 0px #e0e0e0;
  flex-direction: column;
}
.form-wrapper {
  display: flex;
  width: 100%;
  min-height: max-content;
  justify-content: center;
}
.loginform h2 {
  font-size: 30px;
  margin: 30px 0px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}
.loginform input {
  width: 100%;
  margin-bottom: 30px;
}
.loginform input[type="text"],
input[type="date"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #1e5220;
  background: transparent;
  outline: none;
  height: 40px;
  color: #333;
  font-size: 16px;
}
.loginform input[type="submit"] {
  background: #4caf50;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
  border: none;
  margin-bottom: 5px;
}
.loginform input[type="submit"]:hover {
  cursor: pointer;
  background: #1f5822;
}
.loginform a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #1e5220;
}
.loginform .have-not {
  float: right;
}
.loginform a:hover {
  color: #4caf50;
}

.index-tr-wrapper:last-child {
}

@media (max-width: 576px) {
  .loginform {
    width: 90%;
  }
  .loginform a {
    display: block;
    text-align: center;
    float: inherit !important;
    margin: 10px 0px;
  }
}
nav {
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarcol {
  transition: transform 250ms;
  color: honeydew;
  text-decoration: none;
}
.navbarcol:hover {
  transform: translateX(10px);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: rgb(120, 66, 8);
  border-bottom: 1px solid #000000;
}
body {
  padding-top: 50px;
  background-color: rgb(191, 191, 191);
}

.index-wrapper {
  width: max-content;
  min-height: 100vh;
  background-color: rgb(209, 209, 209);
  padding-top: 15px;
  border-radius: 15px;
  border: 2px solid rgb(196, 196, 196);
}
.index-tr > th {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: max-content;
  justify-content: center;
}

/* papapa */
.error {
  text-align: center;
  font-size: 100px;
  height: 100vh;
  background-color: #780a0a;
}
